.App{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background: url("./images/web-1012467_1920.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.title-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    width: 50%;
    height: 80px;
    background-color: #1f1f1f76;
    backdrop-filter: blur(20px);
    border-radius: 10px;
}

.title{
    color: #ffffff;
}


@media screen and (max-width: 800px){
    .title-container{
        width: 80%;
    }
}